/*
//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li,figure,figcaption{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
$main-font: "Microsoft YaHei";
@font-face{
  font-family:PingFang;
  src:url(/fonts/PingFangSC/PingFangSC/PingFangBold.ttf);
}
html,body{
  font:{
    size: 16px;
    family: $main-font;
  }
  background:#f2f4fc;
}
form,fieldset{
  border: 0 none;
}
ol,ul li{
  list-style: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input{
  outline: none;
  font-family: $main-font;
}
button{
  border: 0;
  font-family: $main-font;
}
i,em{
  font-style: normal;
}
a {
  color: #535353;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
svg{
  width:1.375rem;
  height:1.375rem;
  vertical-align: middle;
}
.clearfix:before, .clearfix:after{
  content: "";
  display: table;
}
header{
  display: flex;
  flex: 1;
  height: 3.75rem;
  width: 100%;
  background-color: #367bf0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 0 30px;
  .art-left{
    display: flex;
    flex: 0 0 25em;
    flex-wrap: nowrap;
    align-items: center;
    .logo{
      font: {
        size: 20px;
        family: PingFang;
      };
      color: white;
    }
    .set{
      flex: 0 0 18%;
      text-align: center;
      cursor: pointer;
      svg{
        width: 1.8rem;
        height: 3.8rem;
        fill: white;
      }
    }
    .search{
      color: white;
      font-size: 14px;
      family: $main-font;
      svg{
        width: 1.8rem;
        height: 3.8rem;
        fill: white;
      }
    }
  }
  .art-right{
    display: flex;
    flex: 0 0 18em;
    flex-wrap: nowrap;
    align-items: center;
    .bell{
      position: relative;
      svg{
        width: 1.8rem;
        height: 3.8rem;
        fill: white;
      }
      .bell-count{
        position: absolute;
        top: 16px;
        left: 16px;
        right: auto;
        display: inline-block;
        padding: 1px;
        font-size: 12px;
        line-height: 15px;
        color: #fff;
        background-color: #f86463;
        -moz-border-radius: 7px;
        border-radius: 7px;
        min-width: 15px;
        text-align: center;
      }
    }
    .photo{
      position: relative;
      width:2.8125rem;
      height:2.8125rem;
      display: block;
      img{
        border-radius: 50%;
      }
      margin: {
        right: 5%;
        left: 10%;
      };
      .photo-message{
        position: absolute;
        top: 35px;
        left: 35px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #f86463;
        border: 1px solid white;
        display: inline-block;
      }
    }
    .selected-down{
      .selected{
        appearance: none;
        background: transparent;
        outline: 1px solid #367bf0;
        height: 30px;
        color: white;
        font-size: 16px;
        border: 0 none;
        line-height: 30px;
        font-family: "Microsoft YaHei";
        padding-right: 20px;

      }
      &:after{
        content: "";
        width: 6px;
        height: 6px;
        border-color: white;
        border-width: 0 0 2px 2px;
        border-style: solid;
        transform: rotateZ(-47deg);
        display: inline-block;
        margin-bottom: 3px;
      }
    }
  }
}
.content {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex: 1;
  nav {
    max-width: 254px;
    width: 24%;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: #0a2442;
    position: fixed;
    bottom: 0;
    top: 60px;
    left: 0;
    float: left;
    z-index: 10;
    .list {
      margin-top: 22px;
      a {
        color: white;
        display: flex;
        align-items: center;
      }
      li {
        font-size: 14px;
        font-family: $main-font;
        line-height: 32px;
        border-bottom: 1px solid #17385e;
        a {
          display: flex;
          width: 93%;
          padding-left: 18px;
        }
        ul {
          display: none;
        }
      }
      .list-icon {
        display: inline-block;
        padding: {
          bottom: 6px;
          top: 5px;
        }
      ;
        margin-right: 14px;
        svg {
          fill: white;
          width: 2.0rem;
          height: 2.1rem;
          vertical-align: middle;
        }
      }
      .list-text {
        font-size: 14px;
        margin-bottom: -1px;
      }
      .inactive {
        background: url(/images/down.png) no-repeat 80% center;
      }
      .inactives {
        background: url(/images/up.png) no-repeat 80% center;
      }
      .inactive-line {
        background-color: #071a30;
        li {
          border: 0 none;
          a {
            line-height: 36px;
            padding: 0 0 0 68px
          }
          > ul {
            li {
              padding: 0 0 0 20px;
              font-size: 12px;
            }
          }
        }
        .inactive {
          background: url(/images/down.png) no-repeat 66% center;
        }
        .inactives {
          background: url(/images/up.png) no-repeat 66% center;
        }
      }
      .line-message {
        padding: 10px 0;
        li {
          a {
            position: relative;
          }
          .unread {
            position: absolute;
            display: inline-block;
            top: 5px;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background-color: #f24d37;
          }
        }
      }

    }
    .now {
      color: #367bf0;
      background-color: #0f335c;
    }
    .unreadbg {
      @extend .now
    }
  }
  .content-right {
    margin-top: 80px;
    flex: 1;
    flex-direction: column;
    display: flex;
    margin-left: 14%;
    margin-right: 3%;
    .right-header {
      display: flex;
      justify-content: space-between;
      .right-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 30em;
        .current-color {
          background-color: #5a9bfd;
          a {
            color: white;
            svg {
              fill: white;
            }
          }
        }
        li {
          padding: 5px 13px;
          background-color: white;
          margin-right: 3%;
          svg {
            width: 1.8rem;
            height: 1.8rem;
            fill: #9a9a9a;
            vertical-align: middle;
          }
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #999;
            i {
              padding-right: 15px;
            }
          }
        }
      }
      .search-content {
        display: flex;
        background-color: #5a9bfd;
        border: {
          bottom: 2px solid #5a9bfd;
          left: 3px solid #5a9bfd;
        }
      ;
        border-radius: 5px;
        justify-content: space-between;
        line-height: 36px;
        width: 25%;
        input {
          width: 80%;
          padding-left: 10px;
          line-height: 36px;
          margin: {
            top: 2px;
          }
        ;
        }
        label {
          text-align: center;
          width: 20%;
          color: white;
        }
      }
    }

    !*列表*!
    .lists {
      display: flex;
      flex-direction: column;

      .markeList {
        width: 101%;
        height: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        ul {
          width: 120%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          li {
            display: inline-flex;
            background: #ffffff;
            margin: 1%;
            padding-top: 1%;
            width: 23%;
            height: 200px;
            .list {
              display: inline-flex;
              flex-direction: column;
              background: #ffffff;
              width: 100%;
              .listTop {
                display: flex;
                flex-direction: row;
                width: 100%;
                font-size: 10%;
                color: #5a9bfd;
                border-bottom: 1px solid #999999;
                padding-left: 5%;
                box-sizing: border-box;
                height: 38px;
                flex-wrap: nowrap;
                margin-bottom: 4%;

                .Topright {
                  display: flex;
                  flex-direction: row;
                  width: 82%;
                  span {
                    display: inline-block;
                    font-size: 1rem;
                    margin-right: 10%;

                  }
                  i {
                    font-style: normal;
                    font-size: 0.5rem;
                    color: #999999;
                    font-family: "MicrosoftYaHei";
                    line-height: 25px;
                    text-align: left;
                  }

                }
                .checkbox-group {
                  width: 17%;
                  text-align: center;
                  #one {
                    width: 1px;
                    height: 1px;
                  }
                }
                .checkbox-group input {
                  opacity: 0;
                  display: inline-block;
                }
                .checkbox-group input[type=checkbox] + label:before, .checkbox-group input[type=radio] + label:before {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  content: '';
                  color: #fff;
                  border: 1px solid #5a9bfd;
                  border-radius: 2px;
                }
                .checkbox-group input[type=checkbox]:checked + label:before, .checkbox-group input[type=radio]:checked + label:before {
                  content: '\2713';
                  color: #fff;
                  background-color: #5a9bfd;
                  border-radius: 2px;
                  font-size: 16px;
                  text-align: center;
                }
              }
              .listDown {
                display: flex;
                flex-direction: row;
                width: 100%;
                font-size: 10%;
                color: #999999;
                padding: 0% 5%;
                box-sizing: border-box;
                height: 140px;
                .listRight {
                  font-size: 14px;
                  width: 50%;
                  text-align: left;
                  display: flex;
                  flex-direction: column;
                  p {
                    flex: 1;
                    line-height: 100%;
                  }
                }
                .listLeft {
                  font-size: 14px;
                  width: 50%;
                  text-align: right;
                  display: flex;
                  flex-direction: column;
                  p {
                    flex: 1;
                    line-height: 100%;
                    color: #333333;
                  }
                }
              }

            }
          }
        }
      }
    }
    .condown {
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content:space-between;
      width: 100%;
      margin: 20px 0px 50px 0px;
      padding-left: 1%;
      padding-right: 4%;
      height:40px;


      .downLeft{
        display: flex;
        flex-direction: row;
        font-size:14px;
        line-height: 40px;
        overflow:hidden;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        white-space:nowrap;
        color: #666666;
        width:30%;
        .Left_one{
          display: inline-block;
          flex:2;
          background-color: white;
          line-height: 40px;
          text-align: center;
          padding:0% 4% 0% 5%;
          box-sizing: border-box;
          overflow:hidden;
          text-overflow:ellipsis;
          -o-text-overflow:ellipsis;
          white-space:nowrap;
          color: #666666;
          -moz-appearance:none; !* Firefox *!
          -webkit-appearance:none; !* Safari 和 Chrome *!
          border-width: 0px;
          outline-color: #ffffff;
          option{
            border-color: #ffffff;
          }

        }
        select::-ms-expand { display: none; }
        .inactive {
          background: url(/images/up.png) no-repeat 96% center white;

        }
        .inactives {
          background: url(/images/down.png) no-repeat 96% center;
        }
        .Left_two{
          display: inline-block;
          flex:8;
          font-size:14px;
          line-height: 40px;
          margin-left:1%;
          overflow:hidden;
          text-overflow:ellipsis;
          -o-text-overflow:ellipsis;
          white-space:nowrap;


        }
      }
      .downRight{
        display:flex;
        font-size:14px;
        line-height: 40px;
        margin-right: 1%;

        ul{
          width:101%;
          display: flex;
          flex-direction: row;
          li{
            display: inline-block;
            flex-wrap: nowrap;
            font-size: 14px;
            padding: 0px 15px;
            margin-right:1%;
            border-radius: 2px;
            background-color:white ;
            color: #666666;

          }
          .li1{
            margin-left: 1%;
            width:88px;
            text-align: center;
          }
          .li2{
            margin-left: 1%;
            margin-right:0%;
            width:44px;
            color: #5a9bfd;
          }
          .active{
            background-color: #5a9bfd;
            color:white;
          }
        }
      }
    }
  }
}


@media (min-width: 960px) and (max-width: 1550px){
  .content{
    .content-right{
      margin-left: 18%;
    }
  }
}
@media (max-width: 1024px){
  .content{
    .content-right{
      margin-left: 24%;
    }
  }
  }
*/
//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li,figure,figcaption{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
$main-font: "Microsoft YaHei";
@font-face{
  font-family:PingFang;
  src:url(/fonts/PingFangSC/PingFangSC/PingFangBold.ttf);
}
html,body{
  font:{
    size: 16px;
    family: $main-font;
  }
  background:#f2f4fc;
}
form,fieldset{
  border: 0 none;
}
ol,ul li{
  list-style: none;
}
select {
  appearance: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input,select{
  outline: none;
  font-family: $main-font;
}
textarea{resize:none;}
button{
  outline:none;
  border: 0;
  font-family: $main-font;
}
i,em{
  font-style: normal;
}
a {
  color: #535353;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
svg{
  width:1.375rem;
  height:1.375rem;
  vertical-align: middle;
}
.clearfix:before, .clearfix:after{
  content: "";
  display: table;
}
header{
  display: flex;
  flex: 1;
  height: 3.75rem;
  width: 100%;
  background-color: #367bf0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 0 30px;
  .art-left{
    display: flex;
    flex: 0 0 25em;
    flex-wrap: nowrap;
    align-items: center;
    .logo{
      font: {
        size: 20px;
        family: PingFang;
      };
      color: white;
    }
    .set{
      flex: 0 0 18%;
      text-align: center;
      cursor: pointer;
      svg{
        width: 1.8rem;
        height: 3.8rem;
        fill: white;
      }
    }
    .search{
      color: white;
      font-size: 14px;
      family: $main-font;
      svg{
        width: 1.8rem;
        height: 3.8rem;
        fill: white;
      }
    }
  }
  .art-right{
    display: flex;
    flex: 0 0 18em;
    flex-wrap: nowrap;
    align-items: center;
    .bell{
      position: relative;
      svg{
        width: 1.8rem;
        height: 3.8rem;
        fill: white;
      }
      .bell-count{
        position: absolute;
        top: 16px;
        left: 16px;
        right: auto;
        display: inline-block;
        padding: 1px;
        font-size: 12px;
        line-height: 15px;
        color: #fff;
        background-color: #f86463;
        -moz-border-radius: 7px;
        border-radius: 7px;
        min-width: 15px;
        text-align: center;
      }
    }
    .photo{
      position: relative;
      width:2.8125rem;
      height:2.8125rem;
      display: block;
      img{
        border-radius: 50%;
      }
      margin: {
        right: 5%;
        left: 10%;
      };
      .photo-message{
        position: absolute;
        top: 35px;
        left: 35px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #f86463;
        border: 1px solid white;
        display: inline-block;
      }
    }
    .selected-down{
      .selected{
        appearance: none;
        background: transparent;
        outline: 1px solid #367bf0;
        height: 30px;
        color: white;
        font-size: 16px;
        border: 0 none;
        line-height: 30px;
        font-family: "Microsoft YaHei";
        padding-right: 20px;

      }
      &:after{
        content: "";
        width: 6px;
        height: 6px;
        border-color: white;
        border-width: 0 0 2px 2px;
        border-style: solid;
        transform: rotateZ(-47deg);
        display: inline-block;
        margin-bottom: 3px;
      }
    }
  }
}
.content{
  width: 100%;
  height: auto;
/*  overflow: hidden;
  display: flex;
  flex: 1;*/
  nav{
    width:254px;
   /* overflow: auto;
    overflow-x: hidden;*/
    height: 100%;
    background-color: #0a2442;
    position: fixed;
    bottom: 0;
    top: 60px;
    left: 0;
    float: left;
    z-index: 10;
    .list{
      margin-top: 22px;
      a{
        color: white;
        display: flex;
        align-items: center;
      }
      li{
        font-size: 14px;
        font-family:$main-font;
        line-height: 32px;
        border-bottom: 1px solid #17385e;
        a{
          display: flex;
          width: 93%;
          padding-left: 18px;
        }
        ul{
          display: none;
        }
      }
      .list-icon{
        display: inline-block;
        padding: {
          bottom: 6px;
          top: 5px;
        };
        margin-right: 14px;
        svg{
          fill: white;
          width: 2.0rem;
          height: 2.1rem;
          vertical-align: middle;
        }
      }
      .list-text{
        font-size: 14px;
        margin-bottom: -1px;
      }
      .inactive{
        background:url(/images/down.png) no-repeat 80% center;
      }
      .inactives{
        background:url(/images/up.png) no-repeat 80% center;
      }
      .inactive-line{
        background-color: #071a30;
        li{
          border: 0 none;
          a{
            line-height: 36px;
            padding: 0 0 0 68px
          }
          >ul{
            li{
              padding: 0 0 0 20px;
              font-size: 12px;
            }
          }
        }
        .inactive{
          background:url(/images/down.png) no-repeat 66% center;
        }
        .inactives{
          background:url(/images/up.png) no-repeat 66% center;
        }
      }
      .line-message{
        padding: 10px 0;
        li{
          a{
            position: relative;
          }
          .unread{
            position: absolute;
            display: inline-block;
            top: 5px;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background-color: #f24d37;
          }
        }
      }
    }
    .now{
      background-color: #0f335c;
      a{
        color: #367bf0;
      }
    }
    .unreadbg{
      a{
        color:#367bf0;
      }
      @extend .now
    }
  }
  .content-right{
    margin-top:90px;
    width:100%;
    padding-left: 254px;
    box-sizing: border-box;
    .content-box{
      width:100%;
      height:100%;
      padding:0% 5%;
      box-sizing: border-box;
    }
    .right-header{
      height: 40px;
      display: flex;
      justify-content: space-between;
      .right-nav{
        display: flex;
        width: 80%;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
        .current-color{
          background-color: #5a9bfd;
          a{
            color: white;
            svg{
              fill: white;
            }
          }
        }
        li{
          padding: 5px 13px;
          background-color: white;
          margin-right: 1%;
          svg{
            width: 1.8rem;
            height: 1.8rem;
            fill: #9a9a9a;
            vertical-align: middle;
          }
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #999;

            i{
              padding-right: 15px;
            }
          }
        }
      }
      .search-content{
        display: flex;
        background-color: #5a9bfd;
        border: {
          bottom: 2px solid #5a9bfd;
          left: 3px solid #5a9bfd;
        };
        border-radius: 5px;
        justify-content: space-between;
        line-height: 36px;
        width: 25%;
        input{
          width: 80%;
          padding-left: 10px;
          line-height: 36px;
          margin: {
            top:2px;
          };
        }
        label{
          text-align: center;
          width: 20%;
          color: white;
        }
      }
    }
  }
}
/*分页*/
.right-paging {
  position:fixed;
  width: 78%;
  bottom:10px;
  z-index:1000;
  box-sizing: border-box;
  .paging-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 0;
    .paging-left {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      line-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      color: #666666;
      width: 30%;

      .left-one {
        display: inline-block;
        flex: 2;
        background-color: white;
        line-height: 40px;
        text-align: center;
        padding: 0% 4% 0% 5%;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        color: #666666;
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari 和 Chrome */
        border-width: 0px;
        outline-color: #ffffff;
        option {
          border-color: #ffffff;
        }

      }
      select::-ms-expand {
        display: none;
      }
      .inactive {
        background: url(/images/up.png) no-repeat 96% center white;

      }
      .inactives {
        background: url(/images/down.png) no-repeat 96% center;
      }
      .left-two {
        display: inline-block;
        flex: 8;
        font-size: 14px;
        line-height: 40px;
        margin-left: 1%;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;

      }
    }
    .paging-right {
      display: flex;
      font-size: 14px;
      line-height: 40px;
      margin-right:0;

      ul {
        width: 102%;
        display: flex;
        flex-direction: row;
        li {
          display: inline-block;
          flex-wrap: nowrap;
          font-size: 14px;
          padding: 0px 15px;
          border-radius: 2px;
          background-color: white;
          color: #666666;
          margin-right: 1%;

        }
        .li-one {
          width: 88px;
          text-align: center;
        }
        .li-two{
          margin-right: 0%;
          width: 44px;
          color: #5a9bfd;
        }
        .active {
          background-color: #5a9bfd;
          color: white;
        }
      }
    }
  }
}

