$bgColor:#fcf;
$fontColor:white;
html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
header{
  flex: 0 0 auto;
  height: 100px;
  font-size: 18px;
  color:$fontColor;
  background-color:$bgColor;
}
section{
  height: 200px;
  flex: 1 0 auto;
  background-color: #ccf;
  color:$fontColor;
  font-size: 20px;
  a{

    svg{
      //width: 50px;
      height: 40px;
      fill: #dfd;
      vertical-align: middle;
      &.bonus{
        fill: #f90;
      }
    }
  }
}
footer{
  flex: 0 0 auto;
  height: 80px;
  background-color: #ff855a;
  font-size: 16px;
  color: $fontColor;
}