$main-font: "Microsoft YaHei";
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li,figure,figcaption{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: $main-font;
};
input, button, select, textarea {
  outline: none;
  border-radius: 0;
}
a{
  text-decoration:none;
  color:#333;
}
::-webkit-input-placeholder{
  color: #999999;
  font-size: 14px;
}
//input[type=checkbox] {
//  position: relative;
//}
//input[type=checkbox]::before{
//  content:'';
//  position: absolute;
//}
//input[type=checkbox]:checked::before {
//  background: url("../pages/indexpage/indeximage/cut/勾选.png") no-repeat;
//  content:'';
//}
.after-clear:after{
  content: "";
  display: block;
  clear: both;
}
header{
  width:100%;
  margin: 24px 0;
  margin-left: 20%;
  .logo{
    width:319px;
    height:48px;
    float: left;
  }
  .logocode{
    font-family: $main-font;
    font-weight: lighter;
    font-size: 12px;
    color: #a1b6c9;
    float: left;
    height: 48px;
    line-height: 48px;
    margin-left: 10px;
  }
  .header-route{
    width:100px;
    height:48px;
    line-height:48px;
    margin-left: 30%;
    font-size: 14px;
    color: #666666;
    float: left;
  }
}
.box-shadow{
  box-shadow: 0px 0px 15px #f8f8f8;
}
article{
  width:100%;
  height:600px;
  background: url("../pages/indexpage/indeximage/cut/大banner.jpg") no-repeat 100% 100%;
  position: relative;
  .login-wrap{
    width:352px;
    height:332px;
    background: #f8f8f8;
    position: absolute;
    top: 50%;
    left: 60%;
    margin-top: -166px;
    .login-title{
      width:300px;
      font-weight: bold;
      font-size: 18px;
      color: #333333;
      margin: 25px auto 0;
    }
    .login-user{
      width:300px;
      position: relative;
      margin: 30px auto 0;
      .icon-user{
        width:16px;
        height:15px;
        position: absolute;
        background:url("../pages/indexpage/indeximage/cut/账号.png") no-repeat 0px 0px;
        margin: 12px 14px;
      }
      .user{
        width: 256px;
        height:40px;
        padding-left: 44px;
      }
    }
    .login-passward{
      width:300px;
      position: relative;
      margin: 20px auto 0;
      .icon-passward{
        width:16px;
        height:15px;
        position: absolute;
        background:url("../pages/indexpage/indeximage/cut/密码.png") no-repeat 0px 0px;
        margin: 12px 14px;
      }
      .passward{
        width: 256px;
        height:40px;
        padding-left: 44px;
      }
    }
    .auto-login{
      width:300px;
      height:13px;
      line-height: 13px;
      margin: 12px auto 0;
      .auto-checkbox{
        position:relative;
        float:left;
        cursor:pointer;
      }
        input{
          width:13px;
          height:13px;
          font-size: 12px;
          border: 1px solid #dddddd;
        }
      //  label{
      //    position: absolute;
      //    left: 0;
      //    top: 0;
      //    width:11px;
      //    height:11px;
      //    border: 1px solid #ddd;
      //  }
      //  laber:after{
      //    background: url("../pages/indexpage/indeximage/cut/勾选.png") no-repeat 0px 3px;
      //  }
      //}
      .auto-text{
        height:13px;
        line-height:13px;
        font-size: 12px;
        color: #666666;
        float: left;
        margin-left: 5px;
      }
    }
    .login-button{
      width:300px;
      height:40px;
      margin: 26px auto 0;
      input{
        width:100%;
        height:100%;

        font-size: 14px;
        color: #666666;
        line-height: 40px;
      }
    }
    .login-others{
      width:300px;
      margin: 10px auto 0;
      text-align: right;
      a{
        font-size: 12px;
      }
      .forget-passward{
        color: #ff4242;
        margin-right: 16px;
      }
    }
  }
}
.submitError{
  background: url("../pages/indexpage/indeximage/cut/提交按钮-灰.png")  0px 0px;
}
.submitUser{
  background: url("../pages/indexpage/indeximage/cut/提交按钮.png")  0px 0px;
  cursor: pointer;
}
footer{
  width:100%;
  margin: 30px auto;
  div{
    width:100%;
    text-align: center;
    font-size: 12px;
    color: #999999;
    margin-bottom: 6px;
  }
}
section{
  width:100%;
  .search-title{
    width:850px;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    margin: 72px auto 0;
  }
  nav{
    width:821px;
    height:45px;
    background: url("../pages/indexpage/indeximage/cut/条.png") no-repeat 0px 50%;
    margin: 38px auto 0;
    display: flex;
    justify-content: space-around;
  }



}
.tip-word{
  width:250px;
  font-size: 16px;
  color: #666666;
  margin: 20px auto;
  padding-left: 16px;
  //margin-left: -16px;
}
.login-button{
  width:250px;
  height:40px;
  margin: 36px auto 200px;
  padding-left: 16px;
  //margin-left: -16px;
  input{
    width:100%;
    height:100%;
    font-size: 14px;
    color: #666666;
    line-height: 40px;
  }
}
.passward-button{
  width:250px;
  height:40px;
  margin: 36px auto 200px;
  padding-left: 70px;
  //margin-left: -16px;
  input{
    width:100%;
    height:100%;
    font-size: 14px;
    color: #666666;
    line-height: 40px;
  }
}
.page1,.page2{
  width:100%;
  margin: 70px auto 0;
}
.page2,.page3{
  display: none;
}
.page3{
  width:320px;
  margin: 70px auto 0;
  span{font-size: 12px;}
}
.identifycode{
  width: 100%;
}
.input-tip{
  width:250px;
  font-size: 12px;
  color: #999999;
  margin: 10px auto 0;
  padding-left: 16px;
  display: none;
}
.phone{
  width:234px;
  height:40px;
  margin: 20px auto;
  position: relative;
  input{
    width:100%;
    height:100%;
    border: 1px solid #DDDDDD;
    padding-left: 16px;
  }
  .getcode{
    width:100px;
    height:40px;
    font-size: 12px;
    text-align:center;
    line-height: 40px;
    border-radius: 5px;
    position: absolute;
    left: 260px;
    top: 0;
    cursor: pointer;
  }
  span{
    font-size: 12px;
  }
}
.getcode-start{
  background:#fea914;
  color: #ffffff;
}
.getcode-end{
  background:#e5e5e5;
  color: #666666;
}
.identify-button{
  width:250px;
  height:40px;
  font-size: 12px;
  color: #999999;
  margin: 24px auto 0;
  padding-left: 16px;
  input{
    width:100%;
    height:100%;
  };
}
.ball-text{
  font-size: 14px;
  color: #666666;
  text-align:center;
  margin-top: 16px;
}
.ball-wrap{
  width:70px;
  height:60px;
  margin: auto;
  .ball-blue{
    background: url("../pages/indexpage/indeximage/cut/bg.png") no-repeat -6px -3px;
    text-align: center;
    line-height: 43px;
    font-size: 20px;
    color: #ffffff;
  }
  .ball-white{
    background: url("../pages/indexpage/indeximage/cut/bg2.png") no-repeat 0px 0px;
    text-align: center;
    line-height: 43px;
    font-size: 20px;
    color: #3F99F0;
  }
  .ball-one{
    width:43px;
    height:43px;
    margin: auto;
  }
  .ball-two{
    width:43px;
    height:43px;
    margin: auto;
  }
  .ball-three{
    width:43px;
    height:43px;
    margin: auto;
  }


}
.input-passward{
  width:294px;
  height:40px;
  margin: 20px auto 0;
  padding-left: 40px;
  input{
    width: 100%;
    height: 100%;
    border: 1px solid #DDDDDD;
    padding-left: 16px;
  }
}
.state1{
  color:#aaa;
}
.state2{
  color:#000;
}
.state3{
  color:red;
}
.state4{
  color:green;
}
.mask-wrap{
  width:100%;
  height:100%;
  display: none;
  //position: relative;
  top: 0;
  .mask{
    width:100%;
    height:100%;
    position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;
    z-index: 99; left: 0px;
    opacity:0.7; -moz-opacity:0.7;
  }
}
.passward-success{
  width: 240px;
  height: 150px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left:-120px;
  margin-top: -75px;
  z-index: 100;
  .success-icon{
    width:48px;
    height:48px;
    margin: 24px auto 0;
    img{
      width:100%;
      height:100%;
    }
  }
  .success-text{
    width:100%;
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin: 15px auto 0;
  }
  .success-jump{
    width:100%;
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin: 14px auto 0;
  }
}