/*往来账务情况列表*/
  /*最右边的头部导航栏*/
  .main-module {
    margin-top:60px;
    width:100%;
    padding-left: 254px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .major-topic {
      width:100%;
      height:100%;
      background: #ffffff;
      box-sizing: border-box;
      padding: 0;
      .topic-nav {
        padding: 0% 5%;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          box-sizing: border-box;
          li {
            display: inline-block;
            font-size: 16px;
            line-height: 53px;
            padding: 0% 2%;
            a {
              display: inline-block;
              font-size: 16px;
              color: #999999;

            }

          }
          .finactive {
            border-bottom: 2px solid #f86463;
            color: #367bf0;
          }
          span {
            display: inline-block;
            font-size: 18px;
            line-height: 55px;
            color: #333333;
            margin: 0% 4% 0% 0%;
            font-family: "Microsoft YaHei";
          }
        }
      }
    }
  }
.con-right {
  margin-top: 10px;
  width: 100%;
  padding-left: 254px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .content-box {
    width: 100%;
    height: 100%;
    padding: 0% 5%;
    box-sizing: border-box;
  }
    .right-header {
      display: flex;
      justify-content: space-between;
      .right-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 36em;
        .current-color {
          background-color: #5a9bfd;
          a {
            color: white;
            svg {
              fill: white;
            }
          }
        }
        li {
          padding: 5px 13px;
          background-color: white;
          margin-right: 3%;
          svg {
            width: 1.8rem;
            height: 1.8rem;
            fill: #9a9a9a;
            vertical-align: middle;
          }
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #999;
            i {
              padding-right: 15px;
            }
          }
        }
      }
      .search-content {
        display: flex;
        background-color: #5a9bfd;
        border: {
          bottom: 2px solid #5a9bfd;
          left: 3px solid #5a9bfd;
        }
      ;
        border-radius: 5px;
        justify-content: space-between;
        line-height: 36px;
        width: 25%;
        input {
          width: 80%;
          padding-left: 10px;
          line-height: 36px;
          margin: {
            top: 2px;
          }
        ;
        }
        label {
          text-align: center;
          width: 20%;
          color: white;
        }
      }
    }
  }
  .right-list {
    flex: 1;
    flex-direction: column;
    display: flex;
    background: #ffffff;
    margin:1% 0% 1% 0%;
    .list-down {
      margin: 1% 1%;
      height: 630px;
      overflow-x: hidden;
      overflow-y: auto;
      .down-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        border:1px solid #E5E5E5;
        box-sizing: border-box;

        li {
          display: -webkit-flex; /* Safari */
          display: flex;
          flex-direction: row;
          width:100%;
          border-bottom:1px solid #E5E5E5;
          span{
            display:inline-block;
            font-size: 14px;
            color:#333333;
            padding:0.5% 0%;
            flex:1;
            text-align: center;
            border-left:1px solid #E5E5E5;
          }
          p {
            display: flex;
            flex-direction: column;
            width:100%;
            text-align: center;
            border-top: none;
            font-size:14px;
            vertical-align: middle;
            color:#666666;
            span {
              width:100%;
              display: inline-flex;
              padding: 6% 0%;
              font-size:14px;
              flex:1;
              border-left:1px solid #E5E5E5;
              margin:0 auto;
              -webkit-box-pack: center;
              -moz-justify-content: center;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-box-align: center;
              -moz-align-items: center;
              -webkit-align-items: center;
              align-items: center;

            }
          }
          .red_color{
            color: #ff0000;;
          }
        }
        /*单行时候显示的颜色*/
        li:nth-child(odd)
        {
          background:#F5F5F5;
        }
        /*双行时候显示的颜色*/
        li:nth-child(even)
        {
          background:#ffffff;
        }

      }
    }
  }
.check{
  width:20px !important;
  padding: 20px 10px 0px 10px;
}
@mixin select-input{
  width: 80%;
  line-height: 40px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
}
.checked-none[data-style="checked"]{
  display: none;
}
.checked-none[data-style="checked"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  box-shadow:inset 0 0 2px white;
  overflow: hidden;
}
.checked-none[data-style="checked"]:checked + label{
  //background: url("/images/gou.png") #5a9bfd no-repeat center;
}
.checkedNum[data-style="checkeds"] + label:before{
  width: 13px;
  height: 10px;
  background: url("/images/gou.png") #5a9bfd no-repeat center;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tick{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #e2e2e2;
}

@media (min-width: 960px) and (max-width: 1550px){
    .downListAll{
      margin-left: 19%;
    }
  }

@media (max-width: 1024px) {
    .downListAll {
      margin-left: 25%;
    }
  }


